{% extends 'base.html' %}

{% block title %}
	Article List
{% endblock %}

{% block content %}
	<h1>Article List</h1>
    <hr>
    <div class="list-group">
        <ul class="list-group">
            {% for object in object_list %}
            	<li class="list-group-item"> <a href="{% url 'article_detail' object.pk %}">{{ object }} </a> <br>
                <a class="dj_map_wrapper" href="{% url 'article_edit' object.pk %}">edit</a>  |  
                    <a class="dj_map_delete" href="{% url 'article_delete' object.pk %}">delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}

